.container {
    width: 400px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    max-width: 100px;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

button {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #3e8e41;
}

.resultado p {
    font-size: 24px;
    margin-top: 20px;
}