* {
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
    font-family: Arial, sans-serif;
}

.container {
    width: 60%;
    margin: 50px auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="submit"] {
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #1565C0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.resultado {
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}