.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

form {
    display: inline-block;
    margin: 20px 0;
}

label {
    font-size: 1.2em;
    color: #333;
}

input {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

p {
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
}