.container {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #BFBFBF;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #4CAF50;
    margin-bottom: 20px;
}

form {
    display: inline-block;
    margin-bottom: 20px;
}

label {
    font-size: 24px;
    color: #333;
    margin-right: 10px;
}

input[type=number] {
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #BFBFBF;
}

button[type=submit] {
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #FFF;
    box-shadow: 0px 0px 5px #BFBFBF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type=submit]:hover {
    background-color: #3E8E41;
}