body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.contenedor {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 18px;
    font-weight: bold;
}
