.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
  }
  
  label {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    width: 100%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #005f7f;
  }
  