body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 18px;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .result {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }
  