input[type="submit"] {
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #ddd;
    color: #333;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #333;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

form {
    width: 50%;
    margin: 50px auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

label,
input[type="text"] {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="submit"],
input[type="text"] {
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}

.resultado {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F0F0F0;
    font-size: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}