input[type="submit"] {
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #ff9800;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #f57c00;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

form {
    width: 50%;
    margin: 50px auto;
    border: 2px solid #2196F3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

label,
input[type="text"] {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="submit"],
input[type="text"] {
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}

.resultado {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F0F0F0;
    font-size: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #212121;
}

input[type="text"]::placeholder {
    color: #757575;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px #ff9800;
}

@media screen and (max-width: 768px) {
    form {
        width: 90%;
    }
}