body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
    color: #333;
}

form {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label,
input[type="text"] {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #E0E0E0;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #BDBDBD;
}

.resultado {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #E0E0E0;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}