body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button[type="submit"] {
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

button[type="submit"]:hover {
    background-color: #1565C0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.resultado {
    padding: 10px;
    border-radius: 5px;
    background-color: #F0F0F0;
    font-size: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.resultado:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.error {
    color: #f83e31;
    margin-bottom: 20px;
}