* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

input[type="number"] {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0062cc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.matrices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.matriz {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.matriz h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.matriz input[type="number"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    text-align: center;
}

.resultado {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.resultado h3 {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

.resultado table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.resultado th,
.resultado td {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #0062cc;
}