input[type="submit"] {
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #1565C0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

form {
    width: 50%;
    margin: 50px auto;
    border: 2px solid #2196F3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

label,
input[type="number"] {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="submit"],
input[type="number"] {
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}

.resultado {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F0F0F0;
    font-size: 20px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 100px;
    right: 50%;
    transform: translateX(50%);
}

body {
    background-color: #EEEEEE;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}