body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form label {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
  }
  
  form input[type="number"] {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    text-align: center;
  }
  
  form input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .resultados {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
  }
  
  .resultados p {
    margin: 10px 0;
  }
  
  .resultados span {
    font-weight: bold;
  }

  .errores {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  
  .errores p {
    margin: 5px 0;
  }
  