.contenedor {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.resultado {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.etiqueta {
    font-size: 16px;
    font-weight: bold;
}

.input-numero {
    width: 100px;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.boton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #3e8e41;
}