body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    width: 400px;
}

form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

form input[type="number"] {
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

form input[type="submit"] {
    background-color: #4CAF50;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #3e8e41;
}

.contenedor {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    width: 400px;
}

.contenedor p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contenedor ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contenedor li {
    font-size: 16px;
    margin-bottom: 5px;
}

@media screen and (max-width: 480px) {

    form,
    .contenedor {
        width: 100%;
    }
}