table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: rgb(210, 248, 255);
}

td {
    padding: 10px;
    border: 1px solid #ffffff;
}

td input[type="text"] {
    width: 200px;
    padding: 5px;
}

td input:hover{
    border: 1px solid #78e3fd;
}

td input[type="text"]:focus {
    border: 2px solid green;
}


#btnCalcular {
    background-color: rgb(0, 183, 255);
    color: white;
}

#btnCalcular:hover {
    background-color: rgb(35, 137, 177);
}