.container {
	margin: auto;
	width: 80%;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #888888;
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

label {
	margin-bottom: 10px;
}

input[type="number"] {
	padding: 8px;
	border-radius: 5px;
	border: none;
	outline: none;
}

input[type="submit"] {
	padding: 8px 15px;
	border-radius: 5px;
	border: none;
	outline: none;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	margin-top: 10px;
}

input[type="submit"]:hover {
	background-color: #3E8E41;
}

p {
	text-align: center;
	margin-top: 20px;
	font-size: 1.2rem;
}
