.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

label {
	font-weight: bold;
	margin-bottom: 10px;
}

input[type=number] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-bottom: 10px;
}

input[type=submit] {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #3e8e41;
}

.error {
	color: red;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
