body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    margin: 20px auto;
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type=number] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #3e8e41;
}

.error {
    color: red;
}

.resultado {
    font-weight: bold;
}
