.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 5px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type=number] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type=submit]:hover {
    background-color: #3e8e41;
}

p {
    margin-top: 20px;
    font-size: 24px;
}
