body {
    background-color: #F9F9F9;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  form input[type="number"] {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #CCC;
    border-radius: 5px;
  }
  
  form input[type="submit"] {
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #4CAF50;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .resultado {
    margin-top: 20px;
    font-size: 24px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  