body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form label {
    margin-bottom: 10px;
  }
  
  .form input[type="number"] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
  }
  
  .result.approved {
    background-color: #4CAF50;
    color: white;
  }
  
  .result.rejected {
    background-color: #f44336;
    color: white;
  }
  