/* Estilos generales */

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 28px;
    margin-top: 30px;
  }
  
  form {
    margin-top: 30px;
  }
  
  input[type="number"] {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e6e6e6;
    font-size: 18px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  
  .resultado {
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
  }
  
  /* Estilos específicos para el resultado */
  
  .resultado h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .resultado p {
    color: #333;
    font-size: 18px;
    margin-top: 10px;
  }
  