form {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type=number] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.contenedor {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    margin-top: 20px;
}

.contenedor p {
    margin: 0;
}
