.contenedor {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

input[type="submit"] {
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: gray;
}

p {
    font-size: 24px;
    font-weight: bold;
    color: blue;
}
