.contenedor {
    margin: auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input[type="number"] {
    width: 100px;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

p {
    font-size: 20px;
    font-weight: bold;
}
