body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #f1f1f1;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.form-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  z-index: -1;
}

input[type="text"],
input[type="password"] {
  outline: none;
  padding: 12px;
  display: block;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 10px auto;
  font-size: 16px;
}

input[type="submit"],
.button {
  position: relative;
  padding: 12px 20px;
  color: #fff;
  background: #3b5998;
  width: 320px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

input[type="submit"]:hover,
.button:hover {
  background-color: #5890ff;
}

.button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease;
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
  animation: wave 1.5s infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.jump {
  animation: jump 0.5s ease-out infinite;
}

.button:hover {
  animation-name: jump;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  transform: translateY(-10px);
}

header {
  padding: 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  background-image: url('wq.jpg');
  background-size: cover;
}

header h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

header p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}
