.container {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    margin: 20px 0;
}

label {
    font-size: 1.2em;
}

input[type="number"] {
    font-size: 1.2em;
    padding: 5px;
    margin: 10px 0;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px 20px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #3E8E41;
}