h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

label {
    font-size: 24px;
    margin-bottom: 10px;
}

input[type="number"] {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
}

input[type="number"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

input[type="submit"] {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #48a34b;
}

.resultados {
    margin-top: 50px;
}

.resultados h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.resultados p {
    font-size: 18px;
    margin-bottom: 5px;
}