body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-top: 50px;
}

form {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.resultados {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.resultados h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.resultados p {
    font-size: 18px;
    margin-bottom: 10px;
}