body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    text-align: center;
    margin-top: 50px;
}

label {
    font-size: 20px;
}

input[type="number"] {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.resultados {
    margin-top: 50px;
    text-align: center;
}

.resultados h2 {
    font-size: 24px;
}

.resultados p {
    font-size: 20px;
    margin-top: 10px;
}