body {
    background-color: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #555;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    text-shadow: 1px 1px #ddd;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
}

input[type="number"] {
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    width: 200px;
}

input[type="submit"] {
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #c62828;
}

.resultados {
    margin-top: 50px;
    text-align: center;
}

.resultados h2 {
    color: #555;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 1px 1px #ddd;
}

.resultados p {
    color: #777;
    font-size: 24px;
    margin-bottom: 30px;
    text-shadow: 1px 1px #ddd;
}

footer {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}